<h1>Listing pedals</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @pedals %>
  </tbody>
</table>

<br />

<%= link_to 'New Pedal', new_pedal_path %>
