<div class="row">
  <div class="span2"><h2>Filter</h2></div>
  <div class="span8"><h1>Welcome to PedalPushr!  \m/</h1>
		<p>Like Etsy for your guitar feet tools.
		<%= link_to "PedalPushr", "http://PedalPushr.com" %>
		</p>
	</div>
</div>

